@{ 
    if (Session["yetkiid"]==null)
    {
        Response.Redirect("~/Home/Index");
    }
    if (Convert.ToInt32(Session["yetkiid"])!=1)
    {
        Response.Redirect("~/Home/Index");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mvc Blog Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Index/">Mvc Blog Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                       
                        
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @Session["kullaniciadi"].ToString() <b class="caret"></b></a>
                    <ul class="dropdown-menu">                       
                            <a href="/Uye/Logout/"><i class="fa fa-fw fa-power-off"></i> Çıkış </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/Admin/Index/"><i class="fa fa-fw fa-dashboard"></i> Admin Özet</a>
                    </li>
                    <li>
                        <a href="/AdminKategori/Index"><i class="fa fa-fw fa-bar-chart-o"></i> Kategoriler</a>
                    </li>
                    <li>
                        <a href="/AdminMakale/Index"><i class="fa fa-fw fa-table"></i> Makaleler</a>
                    </li>
                    <li>
                        <a href="/AdminYorum/Index"><i class="fa fa-fw fa-edit"></i> Yorumlar</a>
                    </li>
                    <li>
                        <a href="/AdminUye/Index/"><i class="fa fa-fw fa-desktop"></i> Üyeler </a>
                    </li>
                    <li>
                        <a href="/AdminIletisim/Index"><i class="fa fa-fw fa-wrench"></i> İletişim </a>
                    </li>
                    <li>
                        <a href="/AdminHakkimda/Index"><i class="fa fa-fw fa-wrench"></i> Hakkımda </a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap-tagsinput-angular.js"></script>
    <script src="~/Content/js/bootstrap-tagsinput.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Content/js/plugins/morris/raphael.min.js"></script>
    <script src="~/Content/js/plugins/morris/morris.min.js"></script>
    <script src="~/Content/js/plugins/morris/morris-data.js"></script>
</body>
</html>
