
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8">
    <h2>İletişim</h2>
    <hr/><br />
        <h4>İletişim Bilgileri: </h4><br />
        <h5>Eposta adresi: </h5> 
        <label id="Eposta">merveyapnaz@gmail.com</label><br />       
</div>


